DOMAIN=atendefy.com.br
POSTGRES_USER=atendefy
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_CONNECTION=Host=postgres;Database=atendefy;Username=atendefy;Password=change_me_strong_password
REDIS_PASSWORD=change_me_redis_password
REDIS_CONNECTION=redis://:change_me_redis_password@redis:6379
JWT_SECRET=change_me_minimum_32_chars_secret_key_here_!!!
ENCRYPTION_KEY=change_me_minimum_32_chars_encryption_key_here
EVOLUTION_API_KEY=change_me_evolution_api_key
API_VERSION=latest
