api.{$DOMAIN} {
    reverse_proxy atendefy-api:8080
}

app.{$DOMAIN} {
    reverse_proxy atendefy-web:80
}

evolution.{$DOMAIN} {
    reverse_proxy evolution-api:8080
}

monitor.{$DOMAIN} {
    reverse_proxy uptime-kuma:3001
}
